/* Font size system(px)
9.16 / 11.11 / 13.33 / 16 / 19.20 / 23.04 / 27.65 / 33.18 / 39.81 / 47.78 / 57.33 / 68.80 
*/

/* {
  color: #d6ede9;
  color: #d6f1ed;
  color: #f9dbd5;
  color: #ebf5f1;
  color: #f9f5f5;
  color: #ced9cb;
  color: #d1b86f;
  color: #f4ba9e;
  color: #f1ece0;
  color: #c6ad44;
}
/*
----------------------
 general use 
------------------
*/
body {
  margin: 0;
  padding: 0;
  display: block;
  background-color: #f9f5f5;
  width: 1000px;
  margin: 0 auto;
  font-family: "inter", sans-serif;
}

h2 {
  font-size: 27.65px;
  color: #2d2e2f;
  text-align: left;
  text-decoration: underline;
  margin: 0;
  font-weight: 400;
}

h4 {
  margin: 5px 0;
  color: #2d2e2f;
}

p {
  color: #2d2e2f;
  margin: 10px;
}
/*navigation bar */

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  background-color: #a9aaab;
  align-items: center;
}
.container_1 {
  display: flex;
  justify-content: flex-start;
  width: 30%;
}

.container_2 {
  display: flex;
  justify-content: start;
  width: 70%;
}
.items {
  padding: 25px;
  text-decoration: none;
  color: #2d2e2f;
  line-height: 43px;
  font: 18px raleway, sans-serif;
}

.cakeland_logo_corner {
  font-size: 47.78px;
  color: #fff;
  letter-spacing: 0.05em;
  font-weight: normal;
  font-family: "Titillium Web", sans-serif;
}

/* main logo section */

.main_logo_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.main_logoava_g {
  flex-grow: 1;
  height: 350px;
  width: auto;
  background-color: #e5d8b1;
}

.main_logoava_h {
  flex-grow: 3;
  height: 350px;
  width: auto;
  background: linear-gradient(45deg, #e5d8b1 40%, 60%, #a8d4cd 60%);

  display: flex;
  justify-content: center;
  align-items: center;
}

.main_logoava_i {
  flex-grow: 1;
  height: 350px;
  width: auto;
  background-color: #a8d4cd;
}

.my_logo {
  height: 350px;
  width: 350px;
}
.logo_middle_container {
  display: flex;
  justify-content: center;
  text-align: center;
}
