body {
  padding: 0;
  display: block;
  background-color: #f7f2f2;
  margin: 0 auto;
}
/* top navigation flex box*/
.top-navigation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid red;
}
/* under navigation bar box*/
.under-navbar-line {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* top 3 tiles flex box*/
.top3-tiles {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.tile1 {
  background-color: rgb(148, 113, 180);
  height: 100px;
  width: 70px;
}

.tile2 {
  background-color: rgb(244, 231, 210);
  height: 100px;
  width: 70px;
}

.tile3 {
  background-color: rgb(138, 187, 197);
  height: 100px;
  width: 70px;
}
/* middle horizontal message block*/

.middle-message-block {
  display: flex;
  justify-content: center;
  align-items: center;
}
/*middle main block*/

.middle-main-block {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}
.main-block1 {
  background-color: antiquewhite;
  width: 150px;
  height: 50px;
}

.main-block2 {
  background-color: antiquewhite;
  width: 150px;
  height: 50px;
}
