* {
  color: #d6ede9;
  color: #d6f1ed;
  color: #f9dbd5;
  color: #ebf5f1;
  color: #f9f5f5;
  color: #ced9cb;
  color: #d1b86f;
  color: #f4ba9e;
  color: #f1ece0;
  color: #c6ad44;
}

body {
  margin: 0;
  padding: 0;
  display: block;
  background-color: #f9f5f5;
  width: 1000px;
  margin: 0 auto;
}

/* navigation bar and head line */

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  background-color: #a9aaab;
  align-items: center;
}
.container_1 {
  display: flex;
  justify-content: flex-start;
  width: 30%;
}

.container_2 {
  display: flex;
  justify-content: start;
  width: 70%;
}
.items {
  padding: 25px;
  text-decoration: none;
  color: #2d2e2f;
  line-height: 43px;
  font: 18px raleway, sans-serif;
}

.cakeland-logo {
  font-size: 42px;
  color: #fff;
  letter-spacing: 0.05em;
  font-weight: normal;
  font-family: "Titillium Web", sans-serif;
}

/* main logo*/
.main_logo_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.main_logo_a {
  flex-grow: 1;
  height: 350px;
  width: auto;
  background-color: #f9dbd5;
}

.main_logo_b {
  flex-grow: 3;
  height: 350px;
  width: auto;
  background: linear-gradient(
    to right,
    #f9dbd5 0%,
    #f9dbd5 50%,
    #d6f1ed 50%,
    #d6f1ed 100%
  );

  display: flex;
  justify-content: center;
  align-items: center;
}

.main_logo_c {
  flex-grow: 1;
  height: 350px;
  width: auto;
  background-color: #d6f1ed;
}

.my_logo {
  height: 350px;
  width: 350px;
}
.logo_middle_container {
  display: flex;
  justify-content: center;
  text-align: center;
}
/* two button section */
.two-button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 80px;
}

.two-button {
  height: 35px;
  width: 120px;
  background-color: #fff;
  color: #020302;
}

/* about section */
.about_container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.about_text_container {
  width: 50%;
  background-color: #f9f5f5;
  color: #d1b86f;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about_video {
  height: 150px;
  width: 50%;
  background-color: #f9f5f5;
}
.about {
  text-align: center;
  color: #151311;
  margin-bottom: 0;
}

.about_wrighting {
  text-align: center;
  color: #151311;
  font-size: 18px;
}

.read_more_button {
  height: 35px;
  width: 120px;
  background-color: #fff;
  border: none;
  margin-bottom: 15px;
  border-radius: 8%;
}
.read_more_box {
  text-align: center;
  color: #c6ad44;
}

/*full lrntg image section */

.img_full_screen {
  height: 300px;
  width: 100%;
  object-fit: cover;
  object-position: center center;
  opacity: 1;
}
