/* Font size system(px)
9.16 / 11.11 / 13.33 / 16 / 19.20 / 23.04 / 27.65 / 33.18 / 39.81 / 47.78 / 57.33 / 68.80 
*/

* {
  color: #d6ede9;
  color: #d6f1ed;
  color: #f9dbd5;
  color: #ebf5f1;
  color: #f9f5f5;
  color: #ced9cb;
  color: #d1b86f;
  color: #f4ba9e;
  color: #f1ece0;
  color: #c6ad44;
}
/*
----------------------
 general use 
------------------
*/
body {
  margin: 0;
  padding: 0;
  display: block;
  background-color: #f9f5f5;
  width: 1000px;
  margin: 0 auto;
  font-family: "inter", sans-serif;
}

h2 {
  font-size: 27.65px;
  color: #2d2e2f;
  text-align: left;
  text-decoration: underline;
  margin: 0;
}

h4 {
  margin: 5px 0;
  color: #2d2e2f;
}

p {
  margin: 0 0 20px 0;
  color: #2d2e2f;
}
/* navigation bar and head line */

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  background-color: #a9aaab;
  align-items: center;
}
.container_1 {
  display: flex;
  justify-content: flex-start;
  width: 30%;
}

.container_2 {
  display: flex;
  justify-content: start;
  width: 70%;
}
.items {
  padding: 25px;
  text-decoration: none;
  color: #2d2e2f;
  line-height: 43px;
  font: 18px raleway, sans-serif;
}

.cakeland_logo_corner {
  font-size: 47.78px;
  color: #fff;
  letter-spacing: 0.05em;
  font-weight: normal;
  font-family: "Titillium Web", sans-serif;
}

/* main logo*/
.main_logo_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.main_logo_a {
  flex-grow: 1;
  height: 350px;
  width: auto;
  background-color: #f9dbd5;
}

.main_logo_b {
  flex-grow: 3;
  height: 350px;
  width: auto;
  background: linear-gradient(
    to right,
    #f9dbd5 0%,
    #f9dbd5 50%,
    #d6f1ed 50%,
    #d6f1ed 100%
  );

  display: flex;
  justify-content: center;
  align-items: center;
}

.main_logo_c {
  flex-grow: 1;
  height: 350px;
  width: auto;
  background-color: #d6f1ed;
}

.my_logo {
  height: 350px;
  width: 350px;
}
.logo_middle_container {
  display: flex;
  justify-content: center;
  text-align: center;
}
/* two button section */
.two-button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 80px;
}

.two-button {
  height: 35px;
  width: 120px;
  background-color: #fff;
  color: #020302;
}

/* about section */
.about_container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.about_text_container {
  width: 50%;
  background-color: #f9f5f5;
  color: #d1b86f;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.raspberry__video {
  height: 500px;
  width: 500px;
}

.about {
  text-align: center;
  color: #151311;
  margin-bottom: 0;
  line-height: 1.2;
  letter-spacing: 1px;
  text-decoration: underline;
}

.about_wrighting {
  text-align: LEFT;
  color: #151311;
  font-size: 17.5px;
  line-height: 1.5;
  letter-spacing: -1px;
}

.read_more_button {
  padding: 18px 32px;
  background-color: #fff;
  border: none;
  margin-bottom: 15px;
  border-radius: 8%;
  text-transform: uppercase;
}
.read_more_box {
  text-align: center;
  color: #c6ad44;
}

/*full lrntg image section */

.img_full_screen {
  height: 260px;
  width: 100%;
  object-fit: cover;
  object-position: center center;
  opacity: 1;
  margin-bottom: 35px;
}

/* flvours section build with grid */

.flavours_section {
  background-image: url("https://img.freepik.com/free-vector/girly-pink-background_53876-85148.jpg?w=900&t=st=1682112361~exp=1682112961~hmac=e7305058de0ba1c0cb7d5295b2150384578a551d8930a81a7adf8672f37cd157");
}

.flavours_grid {
  /* grid layout */
  display: grid;
  grid-template-columns: 500px 500px;
}

.el--1 {
  padding: 15px 15px;
}

.el--2 {
  padding: 15px 15px;
}

.el--3 {
  padding: 15px 15px;
}
.el--4 {
  padding: 15px 15px;
}

.flavours_headline {
  margin: 0 0 30px 0;
}
