body {
  background: linear-gradient(110deg, #e5d8b1 50%, 60%, #a8d4cd 60%);
  padding: 0;
  display: block;
  background-color: #f9f5f5;
  margin: 0 auto;
  font-family: "inter", sans-serif;
}
/* head line start */
.headline_container {
  display: flex;
  flex-direction: row;
  background-color: #595a5b;
  justify-content: end;
}

.headtext {
  color: #dfd7d7;
  font-size: 13.33px;
  vertical-align: middle;
  display: inline-block;
  margin-left: 0;
}

.mail_svg {
  height: 20px;
  width: 20px;
  color: #dfd7d7;
  display: inline;
}

.icon {
  display: inline-block;
  width: 15px;
  height: 35px;
  font-size: inherit;
  color: inherit;
  vertical-align: -0.125em;
  fill: currentColor;
}

.social_head_container {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  gap: 10px;
  padding: 0 20px;
}
.ff {
  background-color: #595a5b;
  height: 25px;
  width: 25px;
}

.material-symbols-outlined {
  color: #dfd7d7;
  font-size: 16px;
}

.material-symbols-outlined-2 {
  color: #151311;
  font-size: 21px;
}
/*headline end */

/*navigation bar */

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  background-color: #a9aaab;
  align-items: center;
}
.container_1 {
  display: flex;
  justify-content: flex-end;
  width: 30%;
}

.container_2 {
  display: flex;
  justify-content: space-around;
  width: 70%;
}
.items {
  padding: 25px;
  text-decoration: none;
  color: #2d2e2f;
  line-height: 43px;
  font: 18px raleway, sans-serif;
}

.cakeland_logo_corner {
  font-size: 47.78px;
  color: #fff;
  letter-spacing: 0.05em;
  font-weight: normal;
  font-family: "Titillium Web", sans-serif;
}
/* main logo section */

.main_logo_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.main_logoport_d {
  flex-grow: 1;
  height: 350px;
  width: auto;
  background-color: #e5d8b1;
}

.main_logoport_e {
  flex-grow: 3;
  height: 350px;
  width: auto;
  background: linear-gradient(110deg, #e5d8b1 50%, 60%, #a8d4cd 60%);

  display: flex;
  justify-content: center;
  align-items: center;
}

.main_logoport_f {
  flex-grow: 1;
  height: 350px;
  width: auto;
  background-color: #a8d4cd;
}

.my_logo {
  height: 350px;
  width: 350px;
}
.logo_middle_container {
  display: flex;
  justify-content: center;
  text-align: center;
}

.main {
  font-family: Arial;
  width: 750px;
  display: block;
  margin: 0 auto;
}

.main2 {
  font-family: Arial;
  width: 550px;
  display: block;
  margin: 0 auto;
}
/* test card section */

.cards {
  display: flex;
  flex-direction: row;
}

.a {
  background-color: aqua;
  width: 20%;
  height: 300px;
}

.b {
  background-color: #2d2e2f;
  width: 60%;
  height: 300px;
}

.c {
  background-color: aqua;
  width: 20%;
  height: 300px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.panels {
  max-height: fit-content;
  overflow: hidden;
  display: flex;
}

.panel {
  background: #6b0f9c;
  box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.1);
  color: white;
  text-align: center;
  align-items: center;
  /* Safari transitionend event.propertyName === flex */
  /* Chrome + FF transitionend event.propertyName === flex-grow */
  transition: font-size 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11),
    flex 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11), background 0.2s;
  font-size: 20px;
  background-size: cover;
  background-position: center;
  flex: 1;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.panel1 {
  background-image: url(https://source.unsplash.com/gYl-UtwNg_I/1500x1500);
}
.panel2 {
  background-image: url(https://source.unsplash.com/rFKUFzjPYiQ/1500x1500);
}
.panel3 {
  background-image: url(https://images.unsplash.com/photo-1465188162913-8fb5709d6d57?ixlib=rb-0.3.5&q=80&fm=jpg&crop=faces&cs=tinysrgb&w=1500&h=1500&fit=crop&s=967e8a713a4e395260793fc8c802901d);
}
.panel4 {
  background-image: url(https://source.unsplash.com/ITjiVXcwVng/1500x1500);
}
.panel5 {
  background-image: url(https://source.unsplash.com/3MNzGlQM7qs/1500x1500);
}

/* Flex Items */
.panel > * {
  margin: 0;
  width: 100%;
  transition: transform 0.5s;
  flex: 2 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.panel > *:first-child {
  transform: translateY(-100%);
}
.panel.open-active > *:first-child {
  transform: translateY(0);
}
.panel > *:last-child {
  transform: translateY(100%);
}
.panel.open-active > *:last-child {
  transform: translateY(0);
}

.panel p {
  text-transform: uppercase;
  font-family: "Amatic SC", cursive;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
  font-size: 2em;
}

.panel p:nth-child(2) {
  font-size: 4em;
}

.panel.open {
  flex: 5;
  font-size: 40px;
}

@media only screen and (max-width: 600px) {
  .panel p {
    font-size: 1em;
  }
}
/*
.img_slick {
  width: 450px;
  height: 350px;
}

.img_slick_2 {
  width: 140px;
  height: 120px;
}
.slick-initialized .slick-slide {
  display: flex;
  justify-content: center;
}
*/
